# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.toc

# Minted
_minted*/

# Editor-specific files
.vscode/
*.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.sln.docstates

# Compiled LaTeX files
#*.pdf

# Temporary files
*.bbl
*.blg

# LaTeX editor temporary files
*.bak
*.swp
*.synctex(busy)

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# TeXShop
*.backup
*.bak
*.log

# TeXnicCenter
*.aux
*.idx
*.log
*.ind
*.ilg
*.toc
*.nlo
*.out
*.not
*.lol
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Kile
*.backup
*.bak
*.log
*.aux
*.backup
*.backup.*
*.auxlock
*.toc
*.bbl
*.blg
*.lbl
*.lot
*.lof
*.lol
*.ilg
*.out
*.idx
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.loa
*.loe
*.fdb_latexmk

# WinEdt
*.backup
*.bak
*.log
*.toc
*.bbl
*.blg
*.ini
*.dvi
*.fdb_latexmk

# TeXworks
*.aux
*.bbl
*.blg
*.brf
*.lof
*.lot
*.toc
*.log
*.fls
*.out
*.fdb_latexmk
